.container {
  display: flex;
  width: 100%;
  height: 70px;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.container a {
    padding: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    list-style-type: none; 
}

.GameContainer h1{
  margin: 100px;
  text-decoration: none;
  margin-top: 20px;
}

.GameContainer a {
  margin-top: 100px;
  text-decoration: none;
  color: black;

}

a.link  {
  margin: 100px;
  }

.GameCard {
  margin: 100px;
  margin-top: -80px;
}

.GameCard a {
  text-decoration: none;
}


.mySidenav {
    display: flex;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

.HomeContainer a {
  text-decoration: none;
  color: black;
}